# Naive Bayes Algorithm
 The dataset is part of an assignment on Naive Bayes Classification and Support Vector Machines. The dataset contains information about individuals such as their age, work class, education, marital status, occupation, relationship, race, sex, capital gain, capital loss, hours per week, native, and salary.

**Bringing in all the libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

**Importing training and testing data**

In [2]:
salary_train = pd.read_csv('SalaryData_train.csv')
salary_test = pd.read_csv('SalaryData_test.csv')
string_columns = ["workclass", "education", "maritalstatus", "occupation", "relationship", "race", "sex", "native"]
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,salary
0,52,Federal-gov,Bachelors,3,Married-civ-spouse,Transport-moving,Other-relative,White,Male,6481,190,87,France,>50K
1,45,Federal-gov,11th,12,Separated,Exec-managerial,Not-in-family,White,Female,1815,1581,52,Cambodia,<=50K
2,38,Local-gov,10th,14,Married-AF-spouse,Prof-specialty,Unmarried,White,Female,2503,3037,23,Cuba,<=50K
3,42,Never-worked,12th,8,Separated,Prof-specialty,Unmarried,Other,Male,2243,2216,79,Hong,<=50K
4,71,Self-emp-not-inc,HS-grad,8,Separated,Machine-op-inspct,Unmarried,Asian-Pac-Islander,Female,3462,3856,4,Taiwan,<=50K

**Using a Label Encoder - Categorical to numerical**

In [3]:
from sklearn import preprocessing
number = preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i] = number.fit_transform(salary_train[i])
    salary_test[i] = number.fit_transform(salary_test[i])

**Assign the encoded variables for training and testing**

In [4]:
colnames = salary_train.columns
# print(len(colnames[0:13])) #12 first columns
trainX = salary_train[colnames[0:13]]
trainY = salary_train[colnames[13]]
testX = salary_test[colnames[0:13]]
testY = salary_test[colnames[13]]

**Gaussian Naive Bayes classifier for model fitting**

In [5]:
# Gaussian Naive Bayes is usually used for continuous data (like salary in here)
# For binary data (yes or no, 0 or 1, etc.) you're gonna use Bernoli Naive Bayes classifier
sgnb = GaussianNB()

**Predictions for test data**

In [6]:
spred_gnb = sgnb.fit(trainX, trainY).predict(testX)

**Confusion Matrix**

In [7]:
from sklearn.metrics import confusion_matrix
# confusion matrix ==> ([TN, FP], [FN, TP])
cm_gnb = confusion_matrix(testY, spred_gnb) # y_true: testY,  y_pred: spred_gnb
print(cm_gnb)
tn, fp, fn, tp = cm_gnb.ravel()
accuracy = (tp + tn) / (tp + tn + fp + fn)
# Of course accuracy would be low, because our dataset is randomly generated
print("Accuracy", accuracy) # accuracy = (TP + TN) / (TP + TN + FP + FN)

[[101  49]
 [ 89  61]]
Accuracy 0.54